<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
     <h2>ユーザー　編集</h2>
     <%= form_with model:@user, local:true do |f| %>
     <div class="form-group">
       <label for="inputName">名前</label><br>
       <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
     </div>
     <div class="form-group">
       <label for="inputImage">プロフィール画像</label>
       <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
     </div>
     <div class="form-group">
       <label for="inputName">プロフィール</label><br>
       <%= f.text_area :introduction, autofocus: true, id:"inputName", placeholder:"プロフィール"%>
     </div>
     <div class="form-group">
       <%= f.submit "変更を保存" %>
     </div>
     <% end %>
    </div>
  </div>
</div>