<!DOCTYPE html>
<html>
  <head>
    <title>BOOKERS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0"><%= link_to "BOOKERS", root_path, class: "text-white" %></h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <% if user_signed_in? %>
            <%= link_to "ホーム", user_path(current_user), class: "nav-link active" %>
            <%= link_to "ユーザー一覧", users_path, class: "nav-link" %>
            <%= link_to "投稿一覧", books_path, class: "nav-link" %>
            <!--ログアウトページのコード-->
            <%= link_to "ログアウト", destroy_user_session_path, class: "nav-link", method: :delete %>
            <% else %>
            <%= link_to "ホーム", root_path, class: "nav-link text-white" %>
             <%= link_to "アバウト", about_path, class: "nav-link text-white" %>
             <%= link_to "新規登録", new_user_registration_path, class: "nav-link text-white" %>
             <%= link_to "ログイン", new_user_session_path, class: "nav-link text-white" %>
            <% end %>
          </nav>
        </div>
      </header>
       <%= yield %>
    

      <footer class="mt-auto text-white-50">
        <p>Made in Yanagawa</p>
      </footer>
    </div>





   </body>
<!-----------------------------------kokokamade----------------------------------------------------------->
  
</html>
